<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>dropboxToFlickr</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/db2flickr.css" rel="stylesheet">

		<!-- fav icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
	</head>

	<body>

		<!-- HEADER -->
		<div id="header" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="#">DB2F</a>

				</div>
			</div>
		</div>

		<div id="content" class="content">
			<div id="panel">
				<div class="panel">
					{{ output }}
				</div>
			</div>
		</div>

		<!-- Templates -->

		<!-- job list -->
		<script type="text/template" id="template">

		</script>

		<!-- javascript
		================================================== -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

		<!-- boostrap components -->
		<script src="/lib/bootstrap/bootstrap-transition.js"></script>
		<script src="/lib/bootstrap/bootstrap-alert.js"></script>
		<script src="/lib/bootstrap/bootstrap-modal.js"></script>
		<script src="/lib/bootstrap/bootstrap-tab.js"></script>
		<script src="/lib/bootstrap/bootstrap-tooltip.js"></script>
		<script src="/lib/bootstrap/bootstrap-popover.js"></script>
		<script src="/lib/bootstrap/bootstrap-button.js"></script>
		<script src="/lib/bootstrap/bootstrap-carousel.js"></script>

		<script src="/lib/underscore-min.js"></script>

		<!-- APP SCRIPTS -->
		<script src="/js/db2flickr.js"></script>

	</body>
</html>
